@font-face {
   font-family: 'Viga';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/Darkforce/Desktop/Landing%20Page/fonts/Viga/regular.ttf') format('truetype');
}
